{% include 'header.html' %}

<!--Intro and Profile Pic-->
<section class="intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="profilepic" src="static/images/profilepic.jpg" alt="profile-picture">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="greeting">Hello!</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <h3 class="bio">I'm Nate Wolf. </h3>
                <h3>I'm an engineer, an aspiring coder, and amateur plant dad.</h3>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-8 mb-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h2 class="skill-heading">Engineering</h2>
                        </div>
                        <div class="flip-card-back">
                            <p>Computer Aided Design</p>
                            <p>3D Printing</p>
                            <p>Finite Element Analysis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 mb-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h2 class="skill-heading">Coding</h2>
                        </div>
                        <div class="flip-card-back">
                            <p>Python</p>
                            <p>HTML</p>
                            <p>C++</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 mb-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h2 class="skill-heading">Data Science</h2>
                        </div>
                        <div class="flip-card-back">
                            <p>Databases</p>
                            <p>Data Visualization</p>
                            <p>Data Analysis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}